body{

    background-color: rgb(16, 36, 83);
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    align-items: center;
}
.contenedor{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
a{
    display: block;
    width: 100%;
    max-width: 72px;
    margin: auto;
}
li{
    width: 300px;
    border: 1px solid black;
    list-style-type: none;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: -40px;
    padding: 0 5px;
    border-radius: 5px;

}
li:hover{
    background-color: rgb(48, 108, 250);
    color: white;
}
div[role='status']{
    visibility: hidden;
}