body{
   background-color: lightgray;
}

.header-main{

    box-shadow: 0px 5px 9px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(16, 36, 83);
}
.header2{
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    width: 100%;
    background-color: rgb(16, 36, 83);
}

#navbar-main a:hover{
    background-color: rgb(16, 148, 255);
    color: white;
    border-radius: 10px;
}
/* Estilos para el carrusel que contiene los productos */

#carrusel-main{
    z-index: -100;
}

ul.carousel-indicators li,
ul.carousel-indicators li.active {
 
  width: 1%;
  height: 10px;
  margin: 0 1px;
  border: none;
  border-radius: 20px;  
  
}
ul.carousel-indicators li.active {
    background-color: yellow;
}

.prev{
    left: 10px;
    z-index: 100;
    
}
.next{
    right: 10px;
    z-index: 100;
}

.carousel-control{
    color: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 45%;
 
  
}
.carousel-control:hover{
    color: black;
    
}
.carousel-control-prev
{
    position: relative;
    top: -250px;
}
.carousel-control-next{
    position: relative;
    top: -312px;
    left: 950px;
}

#carrusel-productos a{
    position: absolute;
    left: 5%;  
    bottom: 5px;
    width: 90%;
}

.produc{
    height: 450px;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    overflow-y: auto;
   
}
.produc:hover{
    box-shadow: 0px 5px 9px 5px rgba(0, 0, 0, 0.5), 0px 7px 20px 7px rgba(0, 0, 0, 0.39);
    z-index: 1;  
 
}

/* Estilos para la seccion de categorias populares */
.categ{
    display: block;
    background-color:  rgb(16, 36, 83);
    color: white;
}


/* Estilos para las imagenes de los productos */
.imgproduc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.imgproduc-cate{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 80px;
    
}

/* Estilos para el pie de pagina */
footer{
    background-color: rgb(16, 36, 83);
    color: lightblue;
}
#footer{
    display: none;
}
#buttonfooter{
    display: block;
    text-align: center;
}
#button-footer{
    width: 45%;
    margin-left: auto;
    margin-right: auto;

}

#redes a:hover{
    background-color:  rgb(16, 148, 255);

}
#redes a:active{
    background-color:  rgb(192, 189, 10);
    
}
#redes a i{
    color: rgb(255, 255, 255);
}

/* Media query para tamaño medio de pantalla */

@media (max-width: 768px) { 

    #titulo{
        font-size: 1.5em;
    }
    #search{
        width: auto;
    }
    .carousel-control{
        display: none;
    }
    .carousel-control-next,
    .carousel-control-prev{
        display: none;
    }


}

@media (max-width: 992px) { 


    #carrusel-productos p{
        font-size: 15px;      
       
    }

}


/* Tabla muestra registros en la base de datos  */
.table-main{
    width: 100%;
    max-width: 900px;
    padding: 15px;
    margin: auto;
  
  }
  #buscar{
      display: flex;
      float: right;
      width: 100%;
      max-width: 200px;
  }
  #id-borrar{
      width: 400px;   
  }
 

  #form-eliminar{
      display: flex;
      justify-content: center;
  }


/* cuadricula de categoria */
  .templade{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }
  .carta{
      max-width: 25%;
      min-width: 25%;
  }
